.caro-div {
    background-image: url('./Images/Hawaii.jpg');
    height: 900px;
}

.caro-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 150px;
    width: 50%;
    margin-left: 25%;
}

.discover {
    position: absolute;
    top: 30%;
    margin-left: 180px;
}

.searchBar {
    position: absolute;
    top: 40%;
    width: 750px;
}

.dropdown {
    margin-top: -100px;
    margin-left: -10px;
}

.inspire {
    margin-bottom: 55px;
}

.explore {
    margin-bottom: 50px;
    margin-top: -20px;
}

.placeholder {
    margin-left: 25px;
}

.footer {
    background-color: cornflowerblue;
    width: 100%;
    height: 50px;
    text-align: center;
}