/* dianna */

.title  { 
    color: lightblue;
   
}

p { padding-top: 10px;
    padding-bottom: 10px;
     
}

.ttd { 
    height: 380px;
   }

.factBlock {
    height: 350px;
    
}
.facts {
    height: 400px;
    padding-top: 10px;
}

.todoBlock { 
    margin-top: 40px;
}

.todoFooter {
    padding: 10px;
}


.footer {
    background-color: #059FFD;
    height: 150px;
    color: white;
    width: 101%;

    }

.b {     
    margin-bottom: 5%;
    margin-top: 5%;
         grid-gap: 5%;
}

@media only screen and (max-width: 480px) {

}

@media only all and (max-width: 768px) {

}

@media only all and (min-width: 769px) and (max-width: 1024) {

}

/* dianna end*/



/* daniel */
.caro-div {
    background-image: url('./Images/Hawaii.jpg');
    height: 900px;
}

.caro-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 150px;
    width: 50%;
    margin-left: 25%;
}

.discover {
    position: absolute;
    top: 30%;
    margin-left: 180px;
}

.searchBar {
    position: absolute;
    top: 40%;
    width: 750px;
}

.dropdown {
    margin-top: -100px;
    margin-left: -10px;
}

.dropdown-menu {
    height: 250px;
    overflow: auto;
}


.inspire {
    margin-bottom: 55px;
}

.explore {
    margin-bottom: 50px;
    margin-top: -20px;
}

.placeholder {
    margin-left: 25px;
}

.footer {
    background-color: cornflowerblue;
    width: 100%;
    height: 50px;
    text-align: center;
}

#map {
    margin-left: -350px;
    margin-bottom: 15px;
}

/* daniel end*/